@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/AnyConv.com__Gilroy-Bold.eot');
    src: url('../fonts/AnyConv.com__Gilroy-Bold.eot') format('embedded-opentype'),
    url('../fonts/AnyConv.com__Gilroy-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'Gilroy Semibold';
        src: url('../fonts/AnyConv.com__Gilroy-SemiBold.eot');
        src: url('../fonts/AnyConv.com__Gilroy-SemiBold.eot') format('embedded-opentype'),
        url('../fonts/AnyConv.com__Gilroy-SemiBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
        @font-face {
            font-family: 'Gilroy Medium';
            src: url('../fonts/AnyConv.com__Gilroy-Medium.eot');
            src: url('../fonts/AnyConv.com__Gilroy-Medium.eot') format('embedded-opentype'),
            url('../fonts/AnyConv.com__Gilroy-Medium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            }

/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
li {
   list-style: none;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
img {
   vertical-align: top;
}
html,
body {
   height: 100%;
}
html {
   font-size: 14px; /* по умолчанию */
}
body {
   line-height: 1;
   overflow-x: hidden;
   background-color: #fff;
}
.wrapper {
   min-height: 100%;
   padding: 0px;
   font-family: 'Gilroy Medium';
   background-color: #FAFAFA;
}
/* ------------------------------ */
.header {
}
.main {
}
.first-block {
 padding:100px 0px 0px 0px; 
 /* право382 */
   display: flex;
   justify-content: center;
   gap: 63px;
   padding-bottom: 100px;
  
}
.box {
    width: 310px;
    min-height: 226px; 
    transition: transform 0.6s ease;
}
.box:hover{
    background-color: #fff;
    transform: scale(1.1);
    padding:40px 0px 0px 30px;
    margin:-40px 0px 0px 0px;
    box-shadow: 16px 12px 8px 0px rgba(34, 60, 80, 0.2);

}
/* .box-conrainer {
    width: 370px;
    height: 291px;
    background-color: #fff;
    padding:40px 0px 0px 30px;
    margin:-40px 0px 0px 0px;
    box-shadow: 16px 12px 8px 0px rgba(34, 60, 80, 0.2);
} */

.icon {
   margin-bottom: 25px;
}


.box__title {
    margin-bottom: 25px;
    font-family: 'Gilroy Bold';
    font-size: 24px;
    color: black;

}
.box__text {
    margin-bottom: 25px;
    font-size: 15px;
    color: rgba(102, 102, 102, 1);
}
.box__read {
    font-family: 'Gilroy Bold';
    font-size: 11px;
    color: black;
    padding-bottom: 27px;
}


.second-block {
  padding-top: 100px;
}
.second-block__title {
    max-width: 682px;
   margin: 0 auto;

text-align: center;
}
.title {
    font-family: 'Gilroy Bold';
    font-size: 45px;
    color: black; 
    display: inline-block;
    margin-bottom: 19px;
    
}
.subtitle {
    font-size: 15px;
    color: rgba(102, 102, 102, 1);
    display: inline-block;
    margin-bottom: 55px;
   
}
.second-block__content {
    display: flex;
    justify-content: center;
    gap: 30px;
}
    .content-box{
        max-width:370px ;
        min-height: 549px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      
    }

    .content-box__img {
        margin:0px 0px 20px 0px;
    }
    .content-box__title {
        font-family: 'Gilroy Bold';
        font-size: 24px;
        color: black;
        margin:0px 0px 25px 0px;

    }
    .content-box__text {
        margin-bottom: 25px;
        font-size: 15px;
        color: rgba(102, 102, 102, 1);
        margin:0px 0px 30px 0px;
    }
    .content-box__buttom{
        font-family: 'Gilroy Bold';
        font-size: 13px;
        color: rgb(255, 255, 255);
        width: 150px;
        height: 50px;
        background-color: #F25822;
        border-radius: 50px;
        padding:0px 0px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease; 
    }
    .content-box__buttom:hover{
        transform: scale(1.1);
        color: #F25822;
        background-color: #fff;
    }
    .content-box__buttom a {
        
    }



.footer {
}